@font-face {
  font-family: 'NasaFont';
  src: url('./fonts/nasa.woff') format('woff');
  /* Add other font properties if needed */
}

/* Use the custom font in your component */
.nasa {
  font-family: 'NasaFont', sans-serif;
  color: antiquewhite;
  /* Add other styling properties as needed */
}

.nav-link, .navbar-brand, .navbar-toggler-icon {
  color: antiquewhite !important;
}

.navbar-toggler {
  border: 2px solid antiquewhite !important;
  border-color: antiquewhite !important;
}

.navbar-toggler-icon {
  font-size: 1.2rem;
  padding: 3px;
}